@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    list-style: none;
    font-family: "Lato", sans-serif;
}

.nav {
    font-size: 16px;
    cursor: pointer;
    color: #575756;
    transition: 0.2s all linear;
    font-weight: 400;
}

.nav:hover {
    color: #06a1f4;
}

.buy {
    font-size: 16px;
    font-weight: 600 !important;
    background-color: #40affb;
    border-radius: 7px;
    padding: 8px;
    border: none;
    color: white;
    transition: 0.2s all linear;
}

.buy:hover {
    background-color: #a1c627;
}

.home-page {
    background-image: url('../public/image/web-app-hbg.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.home-imge {
    margin-top: 60px !important;
}

.fea-icon {
    color: #81a5bf;
}

.fea-des {
    font-size: 20px;
    font-weight: 700;
    color: #222222;

}

.fea-description {
    color: #575756;
    font-size: 16px;

}

.fea-sub-title {
    color: #81a5bf;
    font-size: 30px;
    line-height: 44px;
    font-weight: 300;
}

.fea-main-title {
    font-size: 50px;
    line-height: 66px;
    color: #293749;
    margin-top: 70px;
}

.bg-responsive {
    background-color: #7ea2bb;

}

.res-img {
    margin-top: 40px;

}

.res-des {
    color: #293749;
    margin: 0 0 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 16px;

}

.future-icon {
    font-size: 72px;
    color: #81a5bf;
    border-bottom: 2px solid #81a5bf;
    width: 130px;
    padding-bottom: 10px;
    margin: 0px 117.5px 35px;
}

.fut-title {
    font-size: 25px;
    font-weight: 700;
    margin: 0px 0px 25px;
}

.fut-des {
    font-size: 16px;
    color: #575756;
    text-align: center;
}

.fut-icon {
    font-size: 107px;
}

.edu-des {
    font-size: 30px;
    line-height: 44px;
    color: #81a5bf;
    font-weight: 300;
}

.edu-img {
    background-image: url('../public/image/maxresdefault.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100vh;
    width: 90%;
}

.edu-link {
    font-size: 16px;
    color: #575756;
    padding: 70px 70px;
}

.edu-linking {
    color: #81a5bf;
}

.team-bg {
    background-color: #eaeaea;
}

.team-title {
    font-size: 48px;
    line-height: 66px;
    color: #81a5bf;
}

.team-des {
    font-size: 30px;
    line-height: 44px;
    color: #293749;
    font-weight: 300;
}

.profile-img {
    width: 261px;
    height: 261px;
    margin-top: 40px;
}

.profile-name {
    margin: 0px 0px 15px;
    font-size: 20px;
    color: #428Bff;
}

.profile-des {
    margin: 0px 0px 25px;
    color: #575756;
    font-size: 16px;
}

.profile-subdes {
    /* margin: 0px 0px 15px; */
    font-size: 16px;
    color: #575756;

}